{% extends 'base.html' %}

{% block title %}
{{name}}
{% endblock %}


{% block name%}
{{name}}
{% endblock %}

{% block head %}
{% load static %}
<!-- Подключаем стили -->
<link type="text/css" href="{% static 'cost_calculation_automation_box/css/style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<h2>Оборудование</h2>
<!--
{% for e in equipment %}
<p>{{e.id}}. {{e.name}}, {{e.vendore_code}}, {{e.description}} {{e.type}} {{e.manufacturer}} </p>
{% endfor %}
<hr> -->

<table class="table table-bordered" id=TableEquipment>
    <!--    table-striped  -  для чередования белого и серого фона-->
    <!--    table-bordered"  -  для вертикальных линий-->

    <thead>
    <tr>
        <th colspan="8"><h3>Корпуса</h3></th>
    </tr>
    </thead>

    <tr>
        <th></th>
        <th>Производитель</th>
        <th>Имя</th>
        <th>Модель</th>
        <th>Артикул</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Валюта</th>
    </tr>

    <tbody>
    {% for e in equipment %}

    <!--    если цена нулевая то надо покрасить строку в красный намекая что тут что-то не ладное-->
    <!--<tr class="{% if e.price == 0 %} table-danger {% endif %}" id={{e.id}}>-->

    <tr id=tr_{{e.id}}>
        <!-- <th scope="row">{{e.id}}</th> -->
        <td>
            <!--<button onclick="addOrRemoveRow('{{e.id}}', '{{e.price_date}}')"><b>⋮</b></button>-->
            {% load my_filters %}
            {% if e.type_id == 16 %}
            {% with e.id as pk %}
            {% with box|get_by_pk:pk as item %}

            <a class="btn btn-secondary"
               onclick="addOrRemoveRow('{{e.id}}', '{{e.price_date}}',
               '{{item.height}}' ,'{{item.width}}' ,'{{item.depth}}',
               '{{item.material.name}}','{{item.ip.name}}',)"
               id=btn_{{e.id}}>
                <b>⋮</b>
            </a>
            {% endwith %}
            {% endwith %}
            {% endif %}
        </td>
        <td>{{e.manufacturer.name}}</td>
        <td>{{e.name}} {%if e.photo%}<img src="{{e.photo.url}}"> {%endif%}</td>
        <td>{{e.model}}</td>
        <td>{{e.vendore_code}}</td>
        <td>{{e.description|linebreaks}}</td>
        <!--linebreaks - для переноса строчек из описания-->
        <td class="{% if e.price == 0 %} red-text {% endif %}">{{e.price}}</td>
        <td>{{e.currency.name}}</td>

    </tr>
    {% endfor %}

    </tbody>
</table>
<hr> <!-- горизонтальная линия -->


<!--<h2>Страны</h2>-->
<!--&lt;!&ndash;-->
<!--{% for c in countries %}-->
<!--<p>{{c.id}}. {{c.name}}</p>-->
<!--{% endfor %}-->
<!--<hr>-->
<!--&ndash;&gt;-->

<!--<table class="table table-striped table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>#</th>-->
<!--        <th>Name</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for c in countries %}-->
<!--    <tr>-->
<!--        <th scope="row">{{c.id}}</th>-->
<!--        <td>{{c.name}}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--    </tbody>-->
<!--</table>-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->

<!--<h2>Производители</h2>-->
<!--&lt;!&ndash;-->
<!--{% for m in manufacturers %}-->
<!--<p>{{m.id}}. {{m.name}}, {{m.country.name}}</p>-->
<!--{% endfor %}-->
<!--<hr>-->
<!--&ndash;&gt;-->

<!--<table class="table table-striped table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>#</th>-->
<!--        <th>Name</th>-->
<!--        <th>country</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for m in manufacturers %}-->
<!--    <tr>-->
<!--        <th scope="row">{{m.id}}</th>-->
<!--        <td>{{m.name}}</td>-->
<!--        <td>{{m.country.name}}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--    </tbody>-->
<!--</table>-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->

<!--<h2>Типы оборудования</h2>-->

<!--&lt;!&ndash;-->
<!--{% for m in equipment_type %}-->
<!--<p>{{m.id}}. {{m.name}}</p>-->
<!--{% endfor %}-->
<!--<hr>-->
<!--&ndash;&gt;-->

<!--<table class="table table-striped table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>#</th>-->
<!--        <th>Name</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    {% for e in equipment_type %}-->
<!--    <tr>-->
<!--        <th scope="row">{{e.id}}</th>-->
<!--        <td>{{e.name}}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->


<!--<h2>Валюты</h2>-->
<!--{% for m in money %}-->
<!--<p>{{m.id}}. {{m.name}}</p>-->
<!--{% endfor %}-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->

<!--<h2>Материалы корпусов шкафов</h2>-->
<!--{% for m in box_material %}-->
<!--<p>{{m.id}}. {{m.name}}</p>-->
<!--{% endfor %}-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->

<!--<h2>Корпуса шкафов</h2>-->
<!--{% for m in box %}-->
<!--<p>{{m.id_equipment_id}} {{m.height}}x{{m.width}}x{{m.depth}} {{m.material.name}} {{m.equipment.model}}</p>-->
<!--{% endfor %}-->
<!--<hr> &lt;!&ndash; горизонтальная линия &ndash;&gt;-->

{% comment %}
<!-- Это просто тестовый кусочек кода который обращается к элементу по его индексу, индексы идут от 0 до последнего" -->
{% load my_filters %}
{% with 0 as index %}
{% with box|get_at_index:index as item %}
<p>{{ item.height }}</p>
{% endwith %}
{% endwith %}
{% endcomment %}


<!-- Это просто тестовый кусочек кода который обращается к элементу по его  первичному ключу -->
<!-- comment - это тег для комментирования Django шаблонах, без него ошибка может быть  -->
{% comment %}
{% load my_filters %}
{% with 90 as pk %}
{% with box|get_by_pk:pk as item %}
<p>{{ item.height }}</p>
{% endwith %}
{% endwith %}
{% endcomment %}

<!-- Подключаем скрипты -->
<script src="{% static 'cost_calculation_automation_box/js/script.js' %}"></script>
{% endblock %}